
/*//////////////////////////////////////////////////////////*/

/*
http://stackoverflow.com/questions/17141961/css-layout-with-fixed-top-and-bottom-variable-height-middle
https://css-tricks.com/almanac/properties/m/max-height/
*/
*
{
  margin:0;padding:0;
}
html,body
{
  height: 100%;
}
header,footer,div
{
 width: 100%; 
}
.container
{
  height: 100%;
  background: #F6F6F6;
  margin: -64px 0;
  padding: 64px 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.content_divs {
  overflow:auto;
  height:100%;
}
header
{
  height: 64px;
  background: #F6F6F6;
  position: relative;
  z-index:1;
}
footer
{
  height: 64px;
  background: #F6F6F6;
  position: relative;
  z-index:1;
}
